$name: 'bm-c-button';

.#{$name} {
  border: 0;
  padding: var(--bm-button-padding-tb) var(--bm-button-padding-lr);
  margin: 0;
  //display: inline-flex;
  align-content: center;
  align-items: center;
  --bm-flex-stack-gap: var(--bm-button-icon-gap);
  user-select: none;

  & > .#{$name}__icon > * {
    vertical-align: middle;
  }

  & > .#{$name}__content {
    flex-grow: 1;
    flex-shrink: 0;
    display: block;
  }
}

.#{$name}.-disabled > .#{$name}__icon {
  opacity: 0.5;
}
