$name: 'bm-c-tooltip';

.#{$name} {
  width: var(--bm-tooltip-width, max-content);
  height: var(--bm-tooltip-height, max-content);
  --bm-content-padding: var(--bm-tooltip-padding);
  --bm-card-radius: var(--bm-tooltip-radius);
  user-select: none;

  &.-closing {
    animation-name: bm-tooltip-close;
    animation-duration: var(--bm-tooltip-animation-duration);
    animation-fill-mode: forwards;
  }

  &.-opening {
    visibility: hidden;
  }
}

.#{$name}-source {
  position: relative;
  display: block;

  &.-inline {
    display: inline-block;
  }
}

@keyframes bm-tooltip-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
