$name: 'bm-e-lock';

.#{$name} {
  top: 0;
  left: 0;
  width: 100vw;
  z-index: var(--bm-screen-lock-zindex, 10000);

  &:not(.-scroll) {
    position: fixed;
    height: 100dvh;
  }

  &.-scroll {
    position: absolute;
    height: 100%;
  }
}
