$old-name: 'bm-e-markable';
$name: 'bm-e-markbox';

.#{$name} {
  width: var(--bm-markable-rect-size);
  height: var(--bm-markable-rect-size);
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  user-select: none;

  > * {
    display: none;
  }
}

.#{$name}.-marked > .#{$name}__symbol {
  display: block;
}
