//@use '../variables' as *;
//@use '../util/scss-util' as util;

$name: 'bm-a-pushable';

%pushable--normal-normal {
  box-shadow: 0 0 1px rgba(var(--bm-pushable-shadow-rgb), 0.3), 0 1px 2px rgba(var(--bm-pushable-shadow-rgb), 0.2),
    inset 0 -1px 1px var(--bm-pushable-inner-shadow-color);
  border-radius: var(--bm-pushable-radius);
  background: rgba(var(--bm-primary-rgb), 0.85);
  color: rgb(var(--bm-foreground-rgb));
}

.#{$name} {
  @extend %pushable--normal-normal;

  .bm-e-symbol {
    fill: rgb(var(--bm-foreground-rgb));
  }
}

.#{$name}:not(.-disabled):active {
  box-shadow: 0 0 1px rgba(var(--bm-pushable-shadow-rgb), 0.3);
  background: rgba(var(--bm-primary-dim-rgb), 0.85);
}

.#{$name}:not(.-disabled).--tint {
  box-shadow: 0 0 2px rgba(var(--bm-tint-rgb), 0.2), 0 1px 3px rgba(var(--bm-tint-rgb), 0.4),
    inset 0 -1px 1px var(--bm-pushable-tint-inner-shadow-color);
  background: rgb(var(--bm-tint-rgb));
  --bm-foreground-rgb: var(--bm-foreground-rgb-2);
}

.#{$name}:not(.-disabled).--tint:active {
  background: rgb(var(--bm-tint-dim-rgb));
  box-shadow: 0 0 1px rgba(var(--bm-tint-rgb), 0.3);
}

.#{$name}.--flat,
.#{$name}:not(.-disabled).--super-flat:hover {
  background: rgba(var(--bm-secondary-rgb), 0.35);
  box-shadow: inset 0 0 1px rgba(198, 198, 198, 0.5);
}

.#{$name}:not(.-disabled).--flat:hover,
.#{$name}:not(.-disabled).--super-flat:active {
  background: rgba(var(--bm-secondary-rgb), 0.5);
  box-shadow: inset 0 0 1px rgba(198, 198, 198, 0.5);
}

.#{$name}:not(.-disabled).--flat:active {
  background: rgba(var(--bm-secondary-rgb), 0.65);
  box-shadow: inset 0 0 1px rgba(198, 198, 198, 0.5);
}

.#{$name}.--super-flat {
  background: rgba(var(--bm-secondary-rgb), 0);
  box-shadow: none;
}

.#{$name}.-disabled,
.#{$name}.-disabled.--tint {
  box-shadow: none;
  background: rgba(var(--bm-disabled-rgb), 0.6);
  color: rgba(var(--bm-foreground-rgb), 0.4);

  .bm-e-symbol {
    fill: rgba(var(--bm-foreground-rgb), 0.4);
  }
}

.#{$name}.-disabled.--flat {
  background: rgba(var(--bm-secondary-rgb), 0);
  box-shadow: none;
  outline: 1px solid rgba(var(--bm-disabled-rgb), 0.6);
  outline-offset: -1px;
}

.#{$name}.-disabled.--super-flat {
  box-shadow: none;
}
