$name: 'bm-a-switchable';

.#{$name} {
  border-radius: var(--bm-switchable-radius);
  border: var(--bm-switchable-border-width) solid rgba(var(--bm-border2-rgb), 0.2);
  background: rgba(var(--bm-secondary-rgb), 0.4);
  padding: var(--bm-switchable-padding);

  & > .#{$name}__inner {
    //position: relative;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--bm-switchable-radius) - var(--bm-switchable-border-width) - var(--bm-switchable-padding));
  }

  & > .#{$name}__knob {
    box-shadow: 0 0 1px rgba(var(--bm-pushable-shadow-rgb), 0.3), 0 1px 2px rgba(var(--bm-pushable-shadow-rgb), 0.2),
      inset 0 -1px 1px var(--bm-pushable-inner-shadow-color);

    border-radius: calc(var(--bm-switchable-radius) - var(--bm-switchable-border-width) - var(--bm-switchable-padding));
    background: rgba(var(--bm-primary-rgb), 1);
  }
}

.#{$name}.-marked {
  background-color: rgba(var(--bm-tint-rgb), 0.8);
  border-color: transparent;

  & > .#{$name}__inner {
    background-color: rgba(var(--bm-tint-rgb), 1);
  }
}

.#{$name}.-disabled {
  background: rgba(var(--bm-disabled-rgb), 0.6);
  border-color: transparent;
}

.#{$name}.-disabled.-marked {
  background: rgba(var(--bm-tint-rgb), 0.6);
  border-color: transparent;

  & > .#{$name}__inner {
    background-color: transparent;
  }
}
