@use '../../util/scss-util' as util;

$name: 'bm-e-union-push';

@include util.define($name, null, null) {
  overflow: hidden;
  display: inline-flex;
  align-items: stretch;
  box-shadow: 0 0 1px rgba(var(--bm-pushable-shadow-rgb), 0.3), 0 1px 2px rgba(var(--bm-pushable-shadow-rgb), 0.2),
  inset 0 -1px 1px var(--bm-pushable-inner-shadow-color);
  border-radius: var(--bm-pushable-radius);
  //background: rgba(var(--bm-primary-rgb), 0.85);
  color: rgb(var(--bm-foreground-rgb));

  .bm-e-symbol {
    fill: rgb(var(--bm-foreground-rgb));
  }

  & > .#{$name}__primary {
    flex-grow: 1;
    background: rgba(var(--bm-primary-rgb), 0.85);
  }

  & > .#{$name}__secondary {
    background: rgba(var(--bm-primary-rgb), 1);
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@include util.define($name, null, 'active') {
  box-shadow: 0 0 1px rgba(var(--bm-pushable-shadow-rgb), 0.3);
  background: rgba(var(--bm-primary-dim-rgb), 0.85);

  & > .#{$name}__primary {
    background: transparent;
  }

  & > .#{$name}__secondary {
    background: transparent;

  }
}