$name: 'bm-c-window';

.#{$name} {
  position: relative;

  &.-opening {
    animation-name: bm-window-show;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  &.-closing {
    animation-name: bm-window-show;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}

@keyframes bm-window-show {
  0% {
    opacity: 0;
    transform: scaleX(95%) scaleY(95%);
  }
  100% {
    opacity: 1;
    transform: scaleX(100%) scaleY(100%);
  }
}
