$name: 'bm-c-alert';

.#{$name} {
  & > .#{$name}__inner {
    display: flex;
    gap: var(--bm-alert-content-gap);

    .#{$name}__detail {
      flex-grow: 1;
      height: 100%;
      box-sizing: border-box;
    }
  }
}

.#{$name}.-horizontal > .#{$name}__inner {
  flex-direction: row;
}

.#{$name}.-horizontal.-icon-right > .#{$name}__inner {
  flex-direction: row-reverse;
}

.#{$name}.-horizontal.-centered {
  > .#{$name}__inner {
    align-items: center;
  }

  .#{$name}__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.#{$name}.-vertical > .#{$name}__inner {
  flex-direction: column;
}

.#{$name}.-vertical.-centered {
  .#{$name}__icon {
    display: flex;
    justify-content: center;
  }
}
