.bm-c-switcher {
  position: relative;
  --bm-flex-stack-gap: var(--bm-checkbox-gap);

  > input[type='checkbox'] {
    width: 5px;
    height: 5px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .bm-e-switchable {
      outline: 2px solid rgba(var(--bm-tint-rgb), 0.6);
      outline-offset: 1px;
    }
  }
}
