$name: 'bm-e-list-item-separator';

.#{$name} {
  background-color: rgb(var(--bm-border-rgb));
  height: var(--bm-list-separator-width, 2px);
  margin: var(--bm-list-separator-margin-tb, 10px) var(--bm-list-separator-margin-lr, 10px);
}

.bm-e-list.--bordered {
  .#{$name} {
    margin: 0;
    background-color: rgb(var(--bm-border-rgb));
    height: var(--bm-list-separator-height, 5px);
  }
}
