@use '../../util/scss-util' as util;
@use 'ListItem' as listItem;

$name: 'bm-e-list';

@include util.define($name, null, null) {
  list-style: none;
  padding: var(--bm-list-padding-tb) var(--bm-list-padding-lr);
  margin: 0;
  border-width: 0;
  overflow: hidden;
}

@mixin transparent-border {
  &::before {
    background: transparent;
  }

  & + .#{listItem.$name}::before {
    background: transparent;
  }
}

@include util.define($name, "bordered", null) {
  border: var(--bm-list-border-width, 1px) solid rgb(var(--bm-border-rgb));
  border-radius: var(--bm-list-radius);

  .#{listItem.$name} + .#{listItem.$name} {
    &::before {
      flex-grow: 1;
      flex-shrink: 1;
      display: block;
      content: " ";
      background: rgb(var(--bm-border-rgb));
      height: var(--bm-list-item-border-width, 1px);
      margin: 0 var(--bm-list-item-border-margin-right, 0) 0 var(--bm-list-item-border-margin-left, 0);
      overflow: hidden;
    }
  }

  @include util.define(listItem.$name, null, "active") {
    @include transparent-border;
  }

  @include util.define(listItem.$name, null, "selected", false) {
    @include transparent-border;
  }
}