@use "../../util/scss-util" as util;

$name: 'bm-e-list-item';

@include util.define($name, null, null) {
  list-style: none;
  background: transparent;
  color: rgb(var(--bm-foreground-rgb));
  text-align: start;
  border-width: 0;
  margin: 0;
  border-radius: var(--bm-list-item-radius);

  a {
    color: rgb(var(--bm-foreground-rgb));
  }

  button {
    font-family: unset;
    font-size: unset;
    flex-grow: 1;
    border: unset;
    margin: unset;
    padding: unset;
    line-height: unset;
    box-sizing: border-box;
    width: 100%;
    text-align: unset;
    background: transparent;
    color: unset;
  }

  &.-with-indicator {
    padding: var(--bm-list-item-padding-tb) var(--bm-list-item-padding-lr) var(--bm-list-item-padding-tb) 0;
  }

  .#{$name}__inner {
    display: flex;
    align-items: center;
    gap: var(--bm-list-item-gap);
    text-decoration: none;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--bm-list-item-padding-tb, 0) var(--bm-list-item-padding-lr, 0);
  }

  .#{$name}__indicator {
    width: var(--bm-list-item-indicator-width);
    height: var(--bm-list-item-indicator-height);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .#{$name}__icon {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .#{$name}__content {
    flex-grow: 1;
  }

  .#{$name}__secondary {
    color: rgba(var(--bm-foreground-rgb), 0.6);

    .bm-e-symbol {
      fill: rgba(var(--bm-foreground-rgb), 0.6);
    }
  }
}

@include util.define($name, null, "active") {
  background-color: rgba(var(--bm-tint-rgb), 0.85);
  color: rgb(var(--bm-foreground-rgb-2));

  &::before {
    display: none;
    background: transparent;
  }

  a {
    color: rgb(var(--bm-foreground-rgb-2));
  }

  .#{$name}__secondary {
    color: rgba(var(--bm-foreground-rgb-2), 0.6);

    .bm-e-symbol {
      fill: rgba(var(--bm-foreground-rgb-2), 0.6);
    }
  }
}

@include util.define($name, null, "selected", false) {
  background-color: rgba(var(--bm-overlay-rgb), 0.2);

  &::before {
    display: none;
  }
}

@include util.define($name, null, "disabled", false) {
  color: rgba(var(--bm-foreground-rgb), 0.5);

  a {
    color: rgba(var(--bm-foreground-rgb), 0.5);
  }
}

//@include util.define($name, "bordered", null) {
//  display: flex;
//  flex-direction: column;
//}